@media only screen and (max-width : 1199px) //-------------------------- 1200
	//

@media only screen and (max-width : 991px) //--------------------------- 992
	//

@media only screen and (max-width : 767px) //--------------------------- 768
	//

@media only screen and (max-width : 479px) //--------------------------- 480
	//


// ---------------------------------------
@media only screen and (min-width : 320px)
	//

@media only screen and (min-width : 480px)
	//

@media only screen and (min-width : 768px)
	//

@media only screen and (min-width : 992px)
	//

@media only screen and (min-width : 1200px)
	//
