doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')

		meta(name='format-detection' content='telephone=no')
		meta(name='format-detection' content='address=no')

		meta(name='google' value='notranslate')

		link(rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png")
		link(rel="manifest" href="assets/img/favicon/manifest.json")
		link(rel="mask-icon" href="assets/img/favicon/safari-pinned-tab.svg" color="#5bbad5")
		meta(name='theme-color' content='#ffffff')

		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
		
		title title site
		meta(name='description' content='')
		meta(name='keywords' content='')

		link(rel="stylesheet", href="assets/css/style.css")
	body
		<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
